<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'index' %}active{% endif %}" href="{{ path('index') }}">
                    <span data-feather="home"></span>Dashboard
                </a>
            </li>
            <li class="nav-item d-flex justify-content-between align-items-center pr-3">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'environment' %}active{% endif %}" href="{{ path('environment') }}">
                    <span data-feather="globe"></span>
                    Environment
                </a>
                <span data-feather="alert-triangle" class="d-flex align-items-center text-danger"></span>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'docker' %}active{% endif %}" href="{{ path('docker') }}">
                    <span data-feather="package"></span>Docker
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>References</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="external-link"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="https://hub.docker.com/r/m4rku5/webdock" target="_blank">
                    <span data-feather="package"></span>hub.docker.com
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/M4RKU5-C0D3/webdock" target="_blank">
                    <span data-feather="github"></span>github.com
                </a>
            </li>
        </ul>
    </div>
</nav>