{% extends 'base.html.twig' %}

{% block title %}Environment{% endblock %}

{% block body %}
<table class="table">
{% for name, value in dotenv %}
    <tr>
        <td>{{ name }}</td>
        <td><input value="{{ value }}"/></td>
    </tr>
{% endfor %}
</table>
{{ dump(dotenv) }}

{% endblock %}
